<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Learning Vue</title>
  <script src="https://unpkg.com/vue@3.0.0"></script>
  <style>
    .Box{
      padding: 100px 0;
      width: 400px;
      text-align: center;
      background: #ddd;
      margin: 20px;
      display: inline-block;
    }
  </style>
</head>
<body>
  <h1>Hello, Vue :)</h1>

  <div id="app">
    <div v-if="showBooks">
      <p>{{ title }} - by {{ author }}, {{ age }} years old</p>
    </div>
    <div v-else>
      <p>Click the button below to show books</p>
    </div>
    
    <button @click="toggleShowBooks">
      <!-- Toggle books -->
      <span v-if="showBooks">Hide books</span>
      <span v-else>Show books</span>
    </button>
<br>
    <button @click="test">test</button>

    <br>
    <!-- mouse events -->
    <div class="Box" @mouseover="handleEvent(199,$events)">1 mouse over</div>
    <!-- <div class="Box" v-on:mouseover="handleEvent()">1 mouse over</div> -->

    <div class="Box" @mouseleave="handleEvent">2 mouse leave</div>
    <div class="Box" @dblclick="handleEvent">3 double click</div>
    <div class="Box" @mousemove="handleMouseMove">position - {{x}} : {{y}}</div>

    



    <p style="display: none;">the difference between the v if and v show options is that the v if manually inputs/inserts the tags/code into the DOM when the condition is true. with v-show the element is always present in the dom, the user just cant see it. v-show uses the style display attribute to change the tag. adding and removing from the dom is more time/resource consuming</p>



  </div>

  <script src="app.js"></script>
</body>
</html>